form{
    width: 30%;
    border: 1px solid #ccc ;
    margin: 20px;
    padding: 20px;
}
label{
    font-size: 18px;
    display: block;
}
input, textarea{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
}
input:focus, textarea:focus{
    border: 4px solid rgb(66, 47, 175);
}
textarea{
    resize: vertical;
    max-height: 200px;
    min-height: 100px;
}
input[type="submit"]{
    margin: 20px 0 0 0;
    border: none;
    background: rgb(62, 25, 226);
    color: white;
}
select{
    margin-bottom: 20px;
}
input[type="submit"]:hover{
    background:rgba(130, 104, 248, 0.965);
    box-shadow: 3px 5px #000000;
}
.izquierda{
    position: relative;
    left: 20px;
}
/*
.caja{
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 0;
    left:0;
    margin: 0;
}
.caja_padre{
    background: yellow;
    width: 10cm;
    height: 10cm;
    position: relative;
}
div{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 30px;
    margin: 20px 20px 20px 0;
}
#clase1{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}

body{
    background-color: steelblue;
    color: white;
    font-size: 20px;
    
}

.clase1{
    color: red;
    
    font-size: xx-large;
    margin: 50px;
}*/